@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap')");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.wrapper {
  max-width: 1366px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper-full {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header {
  -webkit-box-shadow: 0px 1px 20px -12px #333;
          box-shadow: 0px 1px 20px -12px #333;
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-box .logo {
  width: 220px;
}
.header-box .logo img {
  width: 100%;
}
.header-box nav a {
  color: #262626;
  padding: 10px 20px;
  white-space: nowrap;
  font-weight: 600;
}
.header-box nav a:hover, .header-box nav a.active {
  color: #005ca3;
}

@-webkit-keyframes headingDotBlink {
  50% {
    border-left: 4px solid #0067b8;
  }
}

@keyframes headingDotBlink {
  50% {
    border-left: 4px solid #0067b8;
  }
}
h1.heading::after {
  -webkit-animation: headingDotBlink 3s ease-out infinite;
          animation: headingDotBlink 3s ease-out infinite;
  border-left: 4px solid #e2e2e2;
}

.chal-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  position: relative;
}

button.next-button, button.previous-button {
  position: absolute;
  height: 100%;
  padding: 10px;
  background: #ffffff7d;
  border: none;
  font-size: 33px;
  cursor: pointer;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

button.next-button:focus, button.previous-button:focus {
  outline: none;
}

button.next-button:hover, button.previous-button:hover {
  background: #0067b8;
  color: #fff;
}

button.previous-button {
  left: 0;
}

button.next-button {
  right: 0;
}

.carousel-options {
  /*display: none;*/
}

.scene {
  /*border: 1px solid #CCC;*/
  margin: 40px 0;
  position: relative;
  width: 750px;
  height: 140px;
  margin: 80px auto;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translateZ(-288px);
          transform: translateZ(-288px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 190px;
  width: 700px;
  height: 120px;
  left: 10px;
  top: 10px;
  /*border: 2px solid black;*/
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  background: rgba(255, 255, 255, 0.88);
  -webkit-box-shadow: 0 0px 0px 0px #fff;
          box-shadow: 0 0px 0px 0px #fff;
  -webkit-animation: shadd 3s ease-in-out infinite;
          animation: shadd 3s ease-in-out infinite;
}

@-webkit-keyframes shadd {
  80% {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.14);
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.14);
  }
}

@keyframes shadd {
  80% {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.14);
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.14);
  }
}
/*.carousel__cell:nth-child(9n+1) { background: hsla(  0, 100%, 50%, 0.8); }*/
/*.carousel__cell:nth-child(9n+2) { background: hsla( 40, 100%, 50%, 0.8); }*/
/*.carousel__cell:nth-child(9n+3) { background: hsla( 80, 100%, 50%, 0.8); }*/
/*.carousel__cell:nth-child(9n+4) { background: hsla(120, 100%, 50%, 0.8); }*/
/*.carousel__cell:nth-child(9n+5) { background: hsla(160, 100%, 50%, 0.8); }*/
/*.carousel__cell:nth-child(9n+6) { background: hsla(200, 100%, 50%, 0.8); }*/
/*.carousel__cell:nth-child(9n+7) { background: hsla(240, 100%, 50%, 0.8); }*/
/*.carousel__cell:nth-child(9n+8) { background: hsla(280, 100%, 50%, 0.8); }*/
/*.carousel__cell:nth-child(9n+0) { background: hsla(320, 100%, 50%, 0.8); }*/
.carousel__cell:nth-child(1) {
  -webkit-transform: rotateY(0deg) translateZ(288px);
          transform: rotateY(0deg) translateZ(288px);
}

.carousel__cell:nth-child(2) {
  -webkit-transform: rotateY(40deg) translateZ(288px);
          transform: rotateY(40deg) translateZ(288px);
}

.carousel__cell:nth-child(3) {
  -webkit-transform: rotateY(80deg) translateZ(288px);
          transform: rotateY(80deg) translateZ(288px);
}

.carousel__cell:nth-child(4) {
  -webkit-transform: rotateY(120deg) translateZ(288px);
          transform: rotateY(120deg) translateZ(288px);
}

.carousel__cell:nth-child(5) {
  -webkit-transform: rotateY(160deg) translateZ(288px);
          transform: rotateY(160deg) translateZ(288px);
}

.carousel__cell:nth-child(6) {
  -webkit-transform: rotateY(200deg) translateZ(288px);
          transform: rotateY(200deg) translateZ(288px);
}

.carousel__cell:nth-child(7) {
  -webkit-transform: rotateY(240deg) translateZ(288px);
          transform: rotateY(240deg) translateZ(288px);
}

.carousel__cell:nth-child(8) {
  -webkit-transform: rotateY(280deg) translateZ(288px);
          transform: rotateY(280deg) translateZ(288px);
}

.carousel__cell:nth-child(9) {
  -webkit-transform: rotateY(320deg) translateZ(288px);
          transform: rotateY(320deg) translateZ(288px);
}

.carousel-options {
  text-align: center;
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.9);
}

a {
  color: #0067b8;
  text-decoration: none;
}

a.call-to-action,
a.call-to-action-black,
a.call-to-action-primary {
  padding: 8px 15px;
  position: relative;
  border: 2px solid transparent;
  outline: 1px solid transparent;
  outline-offset: -3px;
  margin-left: -3px;
  -webkit-transition: none;
  transition: none;
  white-space: normal;
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
}
a.call-to-action::after,
a.call-to-action-black::after,
a.call-to-action-primary::after {
  font-size: 22px;
  margin-top: -3.5px;
  margin-left: 4px;
  display: inline-block;
  position: relative;
  right: 0;
  content: "\f105";
  vertical-align: top;
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  text-shadow: 0 0 1px #0067b8;
}
a.call-to-action span,
a.call-to-action-black span,
a.call-to-action-primary span {
  display: inline;
  border: 2px solid transparent;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
a.call-to-action:hover span,
a.call-to-action-black:hover span,
a.call-to-action-primary:hover span {
  margin-right: 6px;
}

a.call-to-action {
  background: transparent;
  color: #0067b8;
  padding: 0;
}
a.call-to-action:hover span {
  border-bottom-color: #0067b8;
}

a.call-to-action-primary, a.call-to-action-black {
  color: #fff;
}
a.call-to-action-primary:hover span, a.call-to-action-black:hover span {
  border-bottom-color: #fff;
}

a.call-to-action-primary {
  background: #0067b8;
}

a.call-to-action-black {
  background: #333;
}

h1.heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  line-height: .4;
  font-size: 35px;
  text-shadow: 0 0 1px #b9b9b9;
}
h1.heading::after {
  width: 60px;
  height: 4px;
  background: #e2e2e2;
  content: "";
  display: block;
  margin: 0 auto;
}
h1.heading span {
  font-size: 16px;
  color: #0067b8;
}
h1.heading span:first-child {
  vertical-align: text-top;
}
h1.heading span:last-child {
  vertical-align: text-bottom;
}

section {
  padding: 70px 0 90px 0;
}

section.bg-grey {
  background: #f9f9f9;
}

.dd-wrapper {
  display: inline;
  height: 19px;
  padding: 25px 0;
  position: relative;
}

.dropdown-box {
  position: absolute;
  top: 67px;
  background: white;
  -webkit-box-shadow: 0px 3px 4px -3px #333;
          box-shadow: 0px 3px 4px -3px #333;
  display: none;
  left: 0;
}

.dropdown-box a {
  display: block;
  font-size: 14px;
  white-space: nowrap;
}

.dd-wrapper a.dropdown i.fal.fa-angle-down {
  padding-left: 5px;
}

.dd-wrapper:hover .dropdown-box {
  display: block;
}

#btnMenu {
  display: none;
}

@media (max-width: 1024px) {
  #btnMenu {
    display: block;
  }

  .header-box nav {
    background: #e4e4e4;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 0px;
    padding-left: 0px;
    overflow: hidden;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;
    padding-top: 80px;
    -webkit-box-shadow: 1024px 0 0px 160px #e4e4e4;
            box-shadow: 1024px 0 0px 160px #e4e4e4;
    z-index: 2;
  }

  nav a {
    display: block;
  }
}
.dd-wrapper {
  display: inline;
  height: 19px;
  padding: 25px 0;
  position: relative;
}

.dropdown-box {
  position: absolute;
  top: 67px;
  background: white;
  -webkit-box-shadow: 0px 3px 4px -3px #333;
          box-shadow: 0px 3px 4px -3px #333;
  display: none;
  left: 0;
}

.dropdown-box a {
  display: block;
  font-size: 14px;
  white-space: nowrap;
}

.dd-wrapper a.dropdown i.fal.fa-angle-down {
  padding-left: 5px;
}

.dd-wrapper:hover .dropdown-box {
  display: block;
}

#btnMenu {
  display: none;
}

@media (max-width: 1024px) {
  #btnMenu {
    display: block;
  }

  .header-box nav {
    background: #e4e4e4;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 0px;
    padding-left: 0px;
    overflow: hidden;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;
    padding-top: 80px;
    -webkit-box-shadow: 1024px 0 0px 160px #e4e4e4;
            box-shadow: 1024px 0 0px 160px #e4e4e4;
    z-index: 2;
  }

  nav a {
    display: block;
  }
}
.hero-box {
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 130px;
  background: #ffffff7d;
}

.bg-img-1 {
  background: url(../imgs/bg-img-1.jpg);
  background-size: cover;
  background-position: center center;
}

.hero-box h3 {
  letter-spacing: 5px;
  color: #0067b8;
}

h1.dual-heading {
  font-size: 60px;
  font-weight: 400;
  margin-top: 30px;
  margin-left: -5px;
  text-shadow: 0 0 5px #c5c5c5;
}

h1.dual-heading span {
  color: #0067b8;
}

.hero-box h2 {
  margin-bottom: 50px;
  letter-spacing: 5px;
}

.hero-box .cta {
  padding-bottom: 40px;
}

.bx-wrapper {
  /*padding: 100px 0;*/
}

.bx-wrapper .bx-pager.bx-default-pager a {
  border-radius: 0px;
}

.slide {
  padding: 200px 50px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #0067b8;
}

.bx-wrapper .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: block;
  vertical-align: middle;
}

.bx-wrapper .bx-pager {
  padding-top: 0px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  margin: 0 auto;
  width: 50px;
  height: 10px;
  margin-bottom: 10px;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: 20px;
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.service-box {
  max-width: 400px;
  min-width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(247, 247, 247, 0.55);
  margin: 30px 3vw;
  box-sizing: border-box;
  margin: 17px;
  background: rgba(247, 247, 247, 0.55);
}
.service-box:hover {
  background: #f7f7f7;
}
.service-box .image {
  width: 100%;
}
.service-box .image img {
  width: 100%;
}
.service-box .bottom-box {
  padding: 0 10px;
  padding-bottom: 20px;
}
.service-box .bottom-box h3 {
  color: #333;
  border-left: 5px solid grey;
  padding-left: 5px;
  margin-left: -10px;
}

.package-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 70px;
}

.package-box {
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 330px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  padding: 20px;
  position: relative;
  margin: 50px;
  -webkit-box-shadow: 0 0 15px 0px #e6e6e6;
          box-shadow: 0 0 15px 0px #e6e6e6;
  border: 2px solid #0067b8;
  padding-top: 22.6px;
}
.package-box .pkg-header {
  position: relative;
  text-shadow: 0 0 2px #000;
}
.package-box .pkg-header h1 {
  background: #ececec;
  text-align: center;
  color: #fff;
  white-space: nowrap;
  padding: 20px 0;
  position: absolute;
  width: 330px;
  top: -58px;
  left: -40px;
  text-transform: uppercase;
  position: relative;
  font-size: 20px;
  font-weight: 700;
}
.package-box .pkg-header h1 span {
  background: #fff;
  -webkit-clip-path: polygon(15px 0%, 100% 0%, calc(100% - 15px) 100%, 0% 100%);
          clip-path: polygon(15px 0%, 100% 0%, calc(100% - 15px) 100%, 0% 100%);
  padding: 6px 29px;
  display: block;
  text-align: left;
  margin-left: 50px;
  margin-right: -1px;
  font-size: 25px;
  color: #0067b8;
  text-shadow: none;
  border-top: 2px solid #0067b8;
}
.package-box .pkg-header > span {
  position: absolute;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  background: #0067b8;
  -webkit-box-shadow: 0 0 3px 0 #000;
          box-shadow: 0 0 3px 0 #000;
  color: #fff;
  z-index: 1;
}
.package-box .pkg-header > span:nth-child(1) {
  left: -45px;
  top: -65px;
  width: 60px;
  -webkit-clip-path: polygon(0 0, 100% 0, calc(100% - 15px) 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, calc(100% - 15px) 100%, 0% 100%);
  padding-right: 5px;
}
.package-box .pkg-header > span:nth-child(3) {
  width: 115px;
  padding-left: 10px;
  right: -22px;
  top: 10px;
  -webkit-clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%);
}
.package-box ul {
  margin-top: -25px;
}
.package-box ul li {
  list-style-type: square;
  padding-bottom: 15px;
  list-style: square;
  color: #0067b8;
}
.package-box ul li span {
  color: #333;
  font-weight: 600;
}
.package-box h3.pkg-highlight {
  padding-bottom: 25px;
}
.package-box h3.pkg-highlight:nth-child(2) {
  margin-top: -35px;
}
