@import "config";


// --------------------- Header
header {
  box-shadow: 0px 1px 20px -12px #333;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: 250px;
    height: 65px;

    img {
      width: 100%;
    }
  }

  nav {
    a {
      color: $color-navlinks;
      padding: 10px 20px;
      white-space: nowrap;
      font-weight: 600;
      
      &:hover,
      &.active {
        color: $color-primary-hover;
      }
      
    }
  }
}

// --------------------- Header


// -------------------------------------- Hero Slider
.hero {
  padding-top: 0;
  background: #f1f1f1;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
 
  
#slider {
  position: relative;
  overflow: hidden;
  // margin: 20px auto 0 auto;
  margin: 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1366px;
  height: 300px;
  background: #ccc;
  // text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 90%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}


}
// ---------------------------------------Hero Slider











a {
  color: $color-primary;
  text-decoration: none;
}

a.call-to-action,
a.call-to-action-black,
a.call-to-action-primary {
  padding: 8px 15px;
  position: relative;
  border: 2px solid transparent;
  outline: 1px solid transparent;
  outline-offset: -3px;
  margin-left: -3px;
  transition: none;
  white-space: normal;
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;

  &::after {
    font-size: 22px;
    margin-top: -3.5px;
    margin-left: 4px;
    display: inline-block;
    position: relative;
    right: 0;
    content: "\f105";
    vertical-align: top;
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    text-shadow: 0 0 1px $color-primary;
  }

  span {
    display: inline;
    border: 2px solid transparent;
    transition: .2s ease-in-out;
  }

  &:hover span {
    margin-right: 6px;
  }
}

a.call-to-action {
  background: transparent;
  color: $color-primary;
  padding: 0;

  &:hover span {
    border-bottom-color: $color-primary;
  }
}

a.call-to-action-primary, a.call-to-action-black {
  color: #fff;
  &:hover span {
    border-bottom-color: #fff;
  }
}
a.call-to-action-primary {
  background: $color-primary;
}

a.call-to-action-black {
  background: #333;
}



h1.heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  line-height: .4;
  font-size: 35px;
  text-shadow: 0 0 1px #b9b9b9;

  &::after {
    width: 60px;
    height: 4px;
    background: #e2e2e2;
    content: "";
    display: block;
    margin: 0 auto;
  }

  span {
    font-size: 16px;
    color: $color-primary;

    &:first-child {
      vertical-align: text-top;
    }

    &:last-child {
      vertical-align: text-bottom;
    }
  }
}


section {
  padding: 70px 0 90px 0;
}

section.bg-grey {
  background: #f9f9f9;
}

//-----------------------MENU
.dd-wrapper {
  display: inline;
  height: 19px;
  padding: 25px 0;
  position: relative;
}

.dropdown-box {
  position: absolute;
  top: 67px;
  background: white;
  box-shadow: 0px 3px 4px -3px #333;
  display: none;
  left: 0
}

.dropdown-box a {
  display: block;
  font-size: 14px;
  white-space: nowrap;
}

.dd-wrapper a.dropdown i.fal.fa-angle-down {
  padding-left: 5px;
}

.dd-wrapper:hover .dropdown-box {
  display: block;
}

#btnMenu {
  display: none;
}

@media (max-width: 1024px) {
  #btnMenu {
    display: block;
  }

  .header-box nav {
    background: #e4e4e4;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 0px;
    padding-left: 0px;
    overflow: hidden;
    transition: .3s ease-in-out;
    opacity: 0;
    padding-top: 80px;
    box-shadow: 1024px 0 0px 160px #e4e4e4;
    z-index: 2;
  }

  nav a {
    display: block;
  }
}

//-----------------------MENU



// -----------------------SERVICES
.services-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.service-box {
  max-width: 400px;
  min-width: 300px;
  box-sizing: border-box;
  background: rgba(247, 247, 247, 0.55);
  margin: 30px 3vw;
  box-sizing: border-box;
  margin: 17px;
  background: rgba(247, 247, 247, 0.55);

  &:hover {
    background: rgba(247, 247, 247, 1);
  }

  .image {
    width: 100%;

    img {
      width: 100%
    }
  }

  .bottom-box {
    padding: 0 10px;
    padding-bottom: 20px;

    h3 {
      color: #333;
      border-left: 5px solid grey;
      padding-left: 5px;
      margin-left: -10px;
    }
  }

}

// -----------------------SERVICES

//----------------------------------- Packages
.package-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 70px;
}

.package-box {
  background: #fff;
  box-sizing: border-box;
  max-width: 330px;
  flex: 1 1 300px;
  padding: 20px;
  position: relative;
  margin: 50px;
  box-shadow: 0 0 15px 0px #e6e6e6;
  border: 2px solid $color-primary;
  padding-top: 22.6px;

  .pkg-header {
    // background: #ff000021;
    position: relative;
    text-shadow: 0 0 2px #000;

    h1 {
      background: #ececec;
      text-align: center;
      color: #fff;
      white-space: nowrap;
      padding: 20px 0;
      position: absolute;
      width: 330px;
      top: -58px;
      left: -40px;
      text-transform: uppercase;
      position: relative;
      font-size: 20px;
      font-weight: 700;

      span {
        background: #fff;
        clip-path: polygon(15px 0%, 100% 0%, calc(100% - 15px) 100%, 0% 100%);
        padding: 6px 29px;
        display: block;
        text-align: left;
        margin-left: 50px;
        margin-right: -1px;
        font-size: 25px;
        color: $color-primary;
        text-shadow: none;
        border-top: 2px solid $color-primary;
      }
    }

    >span {
      position: absolute;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      background: $color-primary;
      box-shadow: 0 0 3px 0 #000;
      color: #fff;
      z-index: 1;


    }

    >span:nth-child(1) {
      left: -45px;
      top: -65px;
      width: 60px;
      clip-path: polygon(0 0, 100% 0, calc(100% - 15px) 100%, 0% 100%);
      padding-right: 5px;
    }

    >span:nth-child(3) {
      width: 115px;
      padding-left: 10px;
      right: -22px;
      top: 10px;
      clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  ul {
    margin-top: -25px;

    li {
      list-style-type: square;
      padding-bottom: 15px;
      list-style: square;
      color: $color-primary;

      span {
        color: #333;
        font-weight: 600;
      }
    }
  }
}